@media (max-width: 640px) {
  header {
    max-width: 400px;
    width: 100%;
  }

  .home {
    position: relative;
    flex-direction: column;
  }

  .profile__text {
    font-size: 2rem;
  }

  .section__tittle {
    font-size: 5rem;
  }

  .sobre-mim {
    height: 200vh;
    display: flex;
    align-items: center;
  }

  .skills__container {
    justify-content: center;
  }

  .projetos {
    height: 350vh;
    display: flex;
    align-items: center;
  }

  h2 {
    display: flex;
    justify-content: center;
  }

  .contatos {
    height: 150vh;
  }

  .social-container {
    flex-direction: column;
  }
}
