@media (max-width: 640px) {
  body {
    width: 100vw;
  }

  header {
    max-width: 400px;
    width: 100%;
  }

  .home {
    position: relative;
    flex-direction: column;
    width: 100vw;
  }

  .profile__text {
    font-size: 2rem;
  }

  .section__tittle {
    font-size: 6rem;
  }

  .description__tittle {
    font-size: 4.5rem;
  }

  .skills__tittle {
    font-size: 4.5rem;
  }

  .sobre-mim {
    height: 140vh;
    display: flex;
    align-items: center;
    gap: 124px;
  }

  .skills__container {
    justify-content: center;
  }

  .projetos {
    height: 220vh;
    display: flex;
    align-items: center;
  }

  h2 {
    display: flex;
    justify-content: center;
  }

  .contatos {
    height: 80vh;
  }

  .social-container {
    flex-direction: column;
  }
}
