.projetos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}

.card-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px;
}

.card {
  position: relative;
  display: block;
  overflow: hidden;
}

.card::before {
  position: absolute;
  background-color: #0009;
  content: 'Clique aqui para abrir o projeto';
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  transform: translateY(100%);
  transition: transform 0.6s;
}

.card:hover::before {
  transform: translateY(0%);
}
