.section__tittle {
  grid-area: tittle;
  font-size: 220px;
  text-align: center;
  background: linear-gradient(#444, #000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
